<div class="categories_page">
    <div class="top">
        <div class="header">
            <!-- ${Translation[lang].Categories} -->
        </div>
        <div class="buttons_wrapper">
            <button [routerLink]="['']" class="home_button button">

            </button>
        </div>
    </div>
    <div class="middle">
        <div class="items_wrapper">
            <!-- <app-category-item class="item grey" *ngFor="let item of items" [routerLink]="['quiz/1']" [preserveFragment]="true" [style.background-image]="'url(../../assets/images/square/' + item + '.jpg)'"></app-category-item> -->
        </div>
    </div>