<div class="choose-author-page">
    <div class="choose-author-page__header">
        <button [routerLink]="['/author-quizes']" class="choose-author-page__back-button">back</button>
        <h2 class="choose-author-page__title">
            {{'Who is the author of this picture?' | language}}
        </h2>
        <button class="choose-author-page__timer-button">
        </button>
    </div>
    <div class="choose-author-page__main">
        <div
        *ngIf="showPicture;else showPop"
        class="choose-author-page__item"
        [style.background-image]="'url(../../assets/images/square/' + this.id + '.jpg)'"
        >
        </div>
        <ng-template #showPop>  
            <app-quiz-pop></app-quiz-pop>  
          </ng-template> 
        <div class="choose-author-page__bullets">
            <div class="choose-author-page__bullet"></div>
            <div class="choose-author-page__bullet"></div>
            <div class="choose-author-page__bullet"></div>
            <div class="choose-author-page__bullet"></div>
            <div class="choose-author-page__bullet"></div>
            <div class="choose-author-page__bullet"></div>
            <div class="choose-author-page__bullet"></div>
            <div class="choose-author-page__bullet"></div>
            <div class="choose-author-page__bullet"></div>
            <div class="choose-author-page__bullet"></div>
        </div>
        <div class="choose-author-page__answers">
            <button *ngFor="let item of answersStrings" (click)="onVariantClick($event)" class="choose-author-page__answer">{{item}}</button>
        </div>
    </div>
</div>
