<div class="start-page">
  <div class="start-page__header">
    <div class="start-page__logo">
    </div>
  </div>
  <div class="start-page__main">
    <div class="start-page__item">
      <button [routerLink]="['/author-quizes']" class="start-page__author">
      </button>
      <div class="start-page__item-descr">
        {{'Painter quiz' | language}}
      </div>
    </div>
    <div class="start-page__item">
      <button  [routerLink]="['/picture-quizes']" class="start-page__picture">
      </button>
      <div class="start-page__item-descr">
        {{'Picture quiz' | language}}
      </div>
    </div>
  </div>
  <div class="start-page__footer">
    <div class="start-page__buttons">
      <button [routerLink]="['/settings']" class="start-page__settings-button">
        {{'Settings' | language}}
      </button>
    </div>
  </div>
</div>