<div class="categories-page">
    <div class="categories-page__header">
        <div class="categories-page__title">
            {{'Categories' | language}}
        </div>
        <div class="categories-page__buttons">
            <button [routerLink]="['']" class="categories-page__home-button button">
            </button>
        </div>
    </div>
    <div class="categories-page__main">
        <div class="categories-page__items">
            <app-categories-item class="categories-page__item" *ngFor="let item of items" [itemId]="item" [routerLink]="[item]">
            </app-categories-item>
        </div>
    </div>
</div>
