<div class="categories-page">
    <div class="categories-page__header">
        <div class="categories-page__title">
            {{'Categories' | language}}
        </div>
        <div class="categories-page__buttons">
            <button [routerLink]="['']" class="categories-page__home-button button">
            </button>
        </div>
    </div>
    <div class="categories-page__main">
        <div class="categories-page__items">
            <app-category-item class="categories-page__item" *ngFor="let item of items" [routerLink]="[item]"
                [style.background-image]="'url(../../assets/images/square/' + item + '.jpg)'">
            </app-category-item>
        </div>
    </div>
</div>
