// $main: #1e1f26;
// $main2: #283655;
// $main3: #4d648d;
// $main4: #d0e1f9;
// $white: #ffffff;
// $green: #88ff00;
// $red: #ff0022;
// $grey: #555555;

@import "../../../styles.scss";

.categories-page {
  padding: 20px 0 60px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  &__header {
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6vmin;
  }
  &__buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__title {
    padding-left: 16vmin;
    letter-spacing: 3px;
    font-size: 8vmin;
    line-height: 15vmin;
    font-weight: 700;
    background-size: 15vmin;
    background-position: left 50%;
    background-repeat: no-repeat;
    background-image: url(../../../assets/images/svg/logoA.svg);
  }
  &__back-button {
    width: 20vmin;
    height: 8vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 3vmin;
    line-height: 6vmin;
    background-color: $white;
    border-radius: 2vmin;
    border: 2px solid $black;
  }
  &__main {
    padding-bottom: 40px;
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__items {
    padding: 3.5vw;
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
    background-color: $main4;
    border-radius: 20px;
    gap: 3.5vw;
  }
  &__item {
    width: 22vw;
    height: 22vw;
  }
}
