<div class="settings-page">
    <div class="settings-page__header">
        <div class="settings-page__title">
            {{'Settings' | language}}
        </div>
    </div>
    <app-settings-page-main></app-settings-page-main>
    <div class="settings-page__footer">
        <div class="settings-page__button-wrapper">
            <button [routerLink]="['']" class="settings-page__save-button button button_center button_white">
                {{'Back' | language}}
            </button>
        </div>
        <div class="settings-page__button_wrapper">
            <button [routerLink]="['']" (click)="settingsToDefaults()" class="settings-page__defaults-button button button_center button_white">
                {{'Defaults' | language}}
            </button>
        </div>
    </div>
</div>