.settings-page {
    padding: 20px 0;
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 23px;
    &__header {
      height: 15vmin;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__title {
      padding-left: 16vmin;
      letter-spacing: 3px;
      font-size: 8vmin;
      line-height: 15vmin;
      font-weight: 700;
      background-size: 15vmin;
      background-position: left 50%;
      background-repeat: no-repeat;
      background-image: url(../../../assets/images/svg/logoA.svg);
    }
    &__footer {
      display: flex;
      align-items: flex-end;
      gap: 10px;
    }
  }
