$main: #1e1f26;
$main2: #283655;
$main3: #4d648d;
$main4: #d0e1f9;
$white: #ffffff;
$green: #88ff00;
$red: #ff0022;
$yellow: #ffff00;
$grey: #555555;
$black: #000000;

@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  font-family: "Prompt", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: $main;
  background: linear-gradient(0deg, rgba(40, 54, 85, 1) 0%, rgba(77, 100, 141, 1) 35%, rgba(208, 225, 249, 1) 100%);
  background-size: cover;
  overflow: hidden;
}
