@import "../../../styles.scss";

.choose-author-page {
    position: relative;
    padding: 20px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    &__header {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    &__buttons {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    &__back-button,
    &__timer-button {
        width: 210px;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        font-size: 24px;
        line-height: 29px;
        background-color: $white;
        border-radius: 10px;
        border: 2px solid $black;
    }
    &__timer-button {
        padding-left: 40px;
        background-image: url(../../../assets/images/svg/timer-picture.svg);
        background-repeat: no-repeat;
        background-position-x: 10px;
        background-position-y: center;
        background-size: 40px;
        background-color: $white;
        border: 2px solid $black;
    }
    &__title {
        flex: 0 0 65%;
        text-align: center;
        font-size: 30px;
        line-height: 37px;
        font-weight: 700;
    }
    &__main {
        width: 100%;
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 20px;
    }
    &__item {
        width: 480px;
        height: 480px;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 20px;
    }
    &__bullets {
        display: flex;
        gap: 30px;
    }
    &__bullet {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: $black;
        opacity: 0.7;
        &_yellow {
            background-color: $yellow;
        }
        &_green {
            background-color: $green;
        }
        &_red {
            background-color: $red;
        }
    }
    &__answers {
        display: flex;
        flex-wrap: wrap;
        width: 520px;
        gap: 20px;
    }
    &__answer {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        font-size: 20px;
        padding: 5px;
        width: 250px;
        height: 60px;
        border: 0;
        color: $main;
        background-color: $white;
        border-radius: 10px;
        &-green {
            background-color: $green;
        }
        &-red {
            background-color: $red;
        }
    }
}

@media (max-width: 1024px) {
    .choose-author-page {
        &__item {
            width: 400px;
            height: 400px;
        }
        &__answers {
            width: 440px;
        }
        &__answer {
            width: 210px;
            height: 70px;
        }
    }
}

@media (max-width: 767px) {
    .choose-author-page {
        &__back-button,
        &__timer-button {
            width: 150px;
        }
        &__item {
            width: 300px;
            height: 300px;
        }
        &__bullets {
            gap: 14px;
        }
        &__answers {
            width: 320px;
        }
        &__answer {
            width: 150px;
        }
    }
}

@media (max-width: 374px) {
    .choose-author-page {
        &__back-button,
        &__timer-button {
            width: 100px;
            height: 60px;
        }
        &__item {
            width: 280px;
            height: 280px;
        }
        &__bullets {
            gap: 8px;
        }
        &__answers {
            width: 280px;
        }
        &__answer {
            width: 130px;
        }
    }
}
