@import "../../../styles.scss";

.quiz-pop {
    padding: 2vw;
    width: 90vw;
    height: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: $main4;
    border-radius: 20px;
    &__picture {
        width: 80vw;
        height: 60vw;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("../../../assets/images/svg/roundEnd.svg");
    }
    &__text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        font-size: 20px;
        padding: 5px;
        width: 250px;
        height: 60px;
        border: 0;
        color: $main;
        background-color: $white;
        border-radius: 10px;
    }
}